@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px; vertical-align: top; color: #262b2b;   
}
td {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	line-height: 18px;vertical-align: top; padding: 5px 10px 5px 15px;
}
 .td_color{
    background-color: #d0eeee;
    height: 30px; width: 25%; font-weight: bold; border-bottom: solid 1px #ffffff;   padding: 8px 10px 0 15px;
  }
  #tblList img {
    width: 85px; height: 115px; vertical-align: middle;
  }
  
  .button{
    background-color: #13a9a9;
    color: #fff;
    width: 100%;
    height: 30px;
    /*display: inline-block;
    padding: 6px 12px;   */
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: left;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
  }
 
  .teacher_row{
     margin: 0 0 0 30px;padding: 0 0 0 30px;position: relative;
  }
  .td_border_botton{
  	border-bottom: solid 1px #bbe7e7;
  }  
 .flow-item {
    width: 100%; vertical-align: top;
   /* margin: 0 auto;*/
}  
h4 {
    display: block;
   /* -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
    font-weight: bold; 
}
.flow-item h4 {
    padding: 0.25em 0.5em;
    margin-bottom: 0.55em;
    font-size: 15px;
    font-weight: bold;line-height: 18px;
    color: #000;
    background: #d0eeee; border-top: solid 1px #cccccc;
}

.flow-item table {
    width: 100%;
    margin: 0 0px;
    border-collapse: collapse;
}
.flow-item table tr {
    vertical-align: top;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.flow-item table th, .flow-item table td {
    padding: 8px 10px;
    border-bottom: solid 1px #dedede; text-align: left;vertical-align: top; line-height: 8px;
}
.flow-item table th {
    text-align: left;width: 20%;
    font-style: normal;
    font-weight: normal;
}
.flow-item td, th {
    display: table-cell;
    vertical-align: inherit;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}

select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    /*border-color: rgb(169, 169, 169);*/
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default; line-height: 20px;padding: 5px; 
   /* border-style: solid;
    border-color: initial;
    border-image: initial;*/
}


input, textarea, select {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;  
}

input, textarea, select, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
.icon{ width: 15px !important; height: 15px !important;
  }
.flow-item a {
    display: block;   
    color: #333;    
}

ul.pagination {
    padding: 25px 16px 16px 16px;
    list-style: none;    
}
ul.pagination li {display: inline; 
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px; line-height: 18px; font-weight: bold;

}
ul.pagination li+li:before {
    padding: 8px;
    color: black;    
}
ul.pagination li a {background-color: #d0eeee;margin: 0 4px;text-decoration: none;padding: 8px 16px; color: black;    }

ul.pagination a.active {
    background-color: #00b3b3;
    color: white;
}
.disabled {
    pointer-events:none; 
    opacity:0.6;         
}
#teacher_dept,#teacher_research,#txtKeyword{ width: 300px; line-height: 20px; }
#main-full div {
    padding-left: 25px; padding-bottom: 5px !important;   
}
#btnSubmit{padding-left: 0px !important; }

.teacher_name{padding-left: 5px; margin-left: 5px;}